# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Cache
.cache
*.tsbuildinfo

# IDE
.idea
.vscode

# OS
.DS_Store

# Logs
*.log

# Environment
.env
.env.*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated
coverage
